### Clean Income Data.

In [23]:
import pandas as pd 
import numpy as np 

# load boroughs and their postcodes
income_df = pd.read_csv("../data/income_by_borough.csv")  


print(f"head {income_df.head(15)}")

head                    borough  year  median_income
0                   Camden  2024          766.6
1                   Ealing  2024          684.8
2                  Hackney  2024          762.5
3   Hammersmith and Fulham  2024          798.5
4                 Haringey  2024          727.8
5                Islington  2024          811.2
6   Kensington and Chelsea  2024          810.1
7                  Lambeth  2024          797.4
8                 Lewisham  2024          706.4
9                   Newham  2024          635.9
10               Southwark  2024          788.6
11           Tower Hamlets  2024          766.5
12              Wandsworth  2024          843.3
13             Westminster  2024          843.3
14          City of London  2024          853.4

## Chunk 1: schema & Data types

In [19]:
print("\n>> income_df.info()")
income_df.info()

income_df['borough'] = income_df['borough'].str.title()



print(f"types: {income_df.dtypes}")

>> income_df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   borough        15 non-null     object
 1   year           15 non-null     int64
 2   median_income  15 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 492.0+ bytes
types: borough           object
year               int64
median_income    float64
dtype: object

In [21]:
print(income_df.head(15))

                   borough  year  median_income
0                   Camden  2024          766.6
1                   Ealing  2024          684.8
2                  Hackney  2024          762.5
3   Hammersmith And Fulham  2024          798.5
4                 Haringey  2024          727.8
5                Islington  2024          811.2
6   Kensington And Chelsea  2024          810.1
7                  Lambeth  2024          797.4
8                 Lewisham  2024          706.4
9                   Newham  2024          635.9
10               Southwark  2024          788.6
11           Tower Hamlets  2024          766.5
12              Wandsworth  2024          843.3
13             Westminster  2024          843.3
14          City Of London  2024          853.4

In [22]:
income_df.to_csv('income_by_borough_clean.csv')